.wrapper-calendar {
  height: 100vh;
  display: flex;
  gap: 2rem;
  padding: 2rem;
}

.calendar {
  width: 70%;
}

.rbc-month-row {
  cursor: pointer;
}

.rbc-button-link .rbc-row-segment {
  cursor: default !important;
}